{% extends 'base.html' %}


{% block title %}
About
{% endblock %}


{% block content%}

<div class="container "">

    <div class="row">

        <div class="col-sm-12"  style="margin-bottom: 200px;" >
<div class="card mt-5">
    <h5 class="card-header">FAQ</h5>
    <div class="card-body">

        Q: I am a new player, what disc should I buy?
        <hr>

        A: All discs have a "Skill Level" rating assigned to them. Check this for "Beginner" and you will be good to go. Generally, the best discs for beginners will be what is called "understable." This will be shown by a negative "Turn" rating and a small "Fade" rating. If you are still confused, shoot me a message on any platform and I'll get back to you.

        <hr>

        Q: Why is local pickup not an option?

        <hr>

        A: Our store is strictly an online store. If you are in the South Jersey area near Egg Harbor Township, NJ and would rather pick up your items, shoot me a message and we can work something out and I'll refund you the shipping. Email: lightningdiscgolf@gmail.com
        <hr>

        Q: Why don't you carry Innova or Discraft?

        <hr>

        A: We are a brand new store as of August 2022, and Innova and Discraft are no longer accepting new dealer applications for online only stores. We will be trying as soon as they open back up again.</p>

    </div>
  </div>

</div>


</div>

</div>





{% endblock %}