<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">-->
</head>

<body>

 <div class="topnav">
  <a href="{{ url_for('Home') }}">Home</a>
  <a href="{{ url_for('userLogin') }}">Login/Register</a>
  <a href="{{ url_for('adminHome') }}">Admin Home</a>
  <a href="#about">About</a>
</div>

        <div class="addItem">
            <h1 class="h3">Add Item(s)</h1>
            <form action="{{ url_for('addItem') }}" method="post" autocomplete="off">
                <label for="brand">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="brand" placeholder="Brand" id="brand" required>
                <label for="name">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="name" placeholder="Item Name" id="name" required>
                <label for="release_date">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="release_date" placeholder="Release Date" id="release_date" required>
                <label for="abbreviation">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="abbreviation" placeholder="Item Abbreviation" id="abbreviation" required>
                <label for="cost">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="cost" placeholder="Cost" id="cost" required>
                <label for="disc_number">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="disc_number" placeholder="Disc Number" id="disc_number" required>
                <div class="msg">{{ msg }}</div>
                <p style="padding:8px;"><input type="submit" value="Add Item To Inventory"></p>
            </form>
        </div>
</body>
</html>