<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Cart</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% extends 'layout.html'%}
</head>
<body>
{% block content%}
<div class="container">
    <div class="row">
        <p><h2>Your Order</h2></p>
        <div class="col-sm-12">
            {% if 'cart_item' in session and session['cart_item'] != "" %}
                <p><a id="btnCart" href="{{ url_for('.showCart') }}" class="btn btn-danger">Back To Cart To Conitnue Shopping</a></p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Price</th>
                            <th> </th>
                        </tr>
                    </thead>

                    <tbody>
                      {% for key, val in session['cart_item'].items() %}
                        {% set quantity = session['cart_item'][key]['quantity'] %}
                        {% set cost = session['cart_item'][key]['Cost'] %}
                        {% set item_price = session['cart_item'][key]['total_price'] %}
                        <tr>
                            <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/product-images/{{ session['cart_item'][key]['Image'] }}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"> <a href="#">{{ session['cart_item'][key]['Name'] }}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">Brand</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div></td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="email" class="form-control" value="{{ quantity }}">
                            </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>${{ cost }} </strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>${{ item_price }} </strong></td>
                            <td class="col-sm-1 col-md-1">
                            <a href="{{ url_for('.delete_product', code=session['cart_item'][key]['ItemCode']) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </a></td>
                        </tr>
                     {% endfor %}
                        <tr>
                            <td colspan="4"><h5>Total Quantity</h5></td>
                            <td class="text-right"><h5><strong>{{ session['all_total_quantity'] }}</strong></h5></td>
                        </tr>
                        <tr>
                            <td colspan="3"><h3>Total</h3></td>
                            <td colspan="2" class="text-right"><h3><strong>$ {{ session['all_total_price'] }}</strong></h3></td>
                        </tr>
                    </tbody>
                </table>
            {% else: %}
                <div class="no-records">Your Cart Is Empty</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="checkout" id="checkoutForm">
    <form action="{{ url_for('checkout') }}" method="post" enctype="multipart/form-data" autocomplete="off" id="checkoutForm">
        <div class="form-group">
        <h2><label for="fname">First Name</label></h2>
        <input type="text" class="form-control form-control-lg" name="firstname" id="firstname" placeholder="{{user.first_name}}">
        </div>
        <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="{{user.last_name}}">
        </div>
        <div class="form-group">
        <label for="shipaddress">Shipping Address</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="Address here">
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shipping Method
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('shipType',val=2) }}">Bubble Mailer - $2</a>
              <a class="dropdown-item" href="{{ url_for('shipType',val=4) }}">Collectors Bag - $4</a>
              <a class="dropdown-item" href="{{ url_for('shipType',val=6) }}">Backpack - $6</a>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="newTotal">New Total:</label>
            <input type="text" readonly class="form-control-plaintext" id="newTotalPrice" value="{{total}}">
            <script src=""></script>
        </div>
        <div class="msg">{{ msg }}</div>
        <p style="padding:8px;"><input type="submit" value="Checkout"></p>
    </form>
    </div>
</body>
<style>
     .container{
        background-color: white;
    }
    .checkout{
        background-color: white;
    }
</style>
{% endblock %}
</html>