<!DOCTYPE html>
<html>
  <head>
     <!-- meta charset="utf-8" -->
     <title>Index</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!-- link rel="stylesheet" href="style.css" -->
     <!-- link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" -->
     <!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" -->
  </head>

  <body>
   <div class="topnav">
 <a href="{{ url_for('Home') }}" class="active">Home</a>
 <a href="{{ url_for('userLogin') }}">Login/Register</a>
 <a href="{{ url_for('products') }}">All Products</a>
 <a href="#about">About</a>
</div>

<div class="Home">

   <h1 class="h1"><img src="https://cdn.shopify.com/s/files/1/0623/4849/2977/files/My_project-1_6.png?v=1660857053&width=500"> </p></h1>
  <hr>
<h2 class="h2">Available Now!</h2>

<div class="row">
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJAnMHalR4d_ukobhXsvwgS9DBfeHTs2stXw&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:blue;">we will have links to buy items here</p>
   </div>
 </div>
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9hKWOvb2UkUx7M1CtTopVRLDxe2norIpZqA&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:#3FA2F5;">purchase</p>
   </div>
 </div>
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKZisHEDTwIxBHsN0DGboZJyFvv5ZQ--PXHQ&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:blue;">purchase</p>
   </div>
 </div>
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISggQyOT7spz8hENX-iYmXYx5ZEbhzqmBrw&usqp=CAU" height="200px" width="75px" alt="Discs n bag" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:#3FA2F5;">purchase</p>
   </div>
 </div>
</div>

   <div class="row">
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJAnMHalR4d_ukobhXsvwgS9DBfeHTs2stXw&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:blue;">more links, more items</p>
   </div>
 </div>
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9hKWOvb2UkUx7M1CtTopVRLDxe2norIpZqA&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:#3FA2F5;">purchase</p>
   </div>
 </div>
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKZisHEDTwIxBHsN0DGboZJyFvv5ZQ--PXHQ&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:blue;">purchase</p>
   </div>
 </div>
 <div class="column">
   <div class="content">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISggQyOT7spz8hENX-iYmXYx5ZEbhzqmBrw&usqp=CAU" height="200px" width="75px" alt="Discs n bag" style="width:100%">
     <h3><p style="color:white;">Disc</h3>
     <p style="color:#3FA2F5;">purchase</p>
   </div>
 </div>
</div>

</div>
</body>
  </body>
   <footer class="f1">
       <p class="f1"><a href="{{ url_for('Contact') }}">Contact Us</a></p>
   </footer>
</html>