{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="Home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active"> <img src="https://cdn.shopify.com/s/files/1/0623/4849/2977/files/Cloud_Breaker_DMNET_MAIN_2.jpg?v=1666188944&width=1000" class="d-block w-100" alt="..."> </div>
      <div class="carousel-item"> <img src="https://cdn.shopify.com/s/files/1/0623/4849/2977/files/FotoJet.jpg?v=1666188944&width=1000" class="d-block w-100" alt="..."> </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
  </div>
  <hr>
  <h2 class="h2">Available Now!</h2>
  <div class="row">
    <div class="column">
      <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJAnMHalR4d_ukobhXsvwgS9DBfeHTs2stXw&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Disc</h5>
          <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
      </div>
    </div>
    <div class="column">
      <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9hKWOvb2UkUx7M1CtTopVRLDxe2norIpZqA&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Disc</h5>
          <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
      </div>
    </div>
    <div class="column">
      <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKZisHEDTwIxBHsN0DGboZJyFvv5ZQ--PXHQ&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Disc</h5>
          <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
      </div>
    </div>
    <div class="column">
      <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISggQyOT7spz8hENX-iYmXYx5ZEbhzqmBrw&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Disc</h5>
          <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="column">
        <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJAnMHalR4d_ukobhXsvwgS9DBfeHTs2stXw&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Disc</h5>
            <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
        </div>
      </div>
      <div class="column">
        <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9hKWOvb2UkUx7M1CtTopVRLDxe2norIpZqA&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Disc</h5>
            <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
        </div>
      </div>
      <div class="column">
        <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKZisHEDTwIxBHsN0DGboZJyFvv5ZQ--PXHQ&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Disc</h5>
            <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
        </div>
      </div>
      <div class="column">
        <div class="card border-dark mb-3" style="width: 15rem;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISggQyOT7spz8hENX-iYmXYx5ZEbhzqmBrw&usqp=CAU" height="200px" width="75px" alt="Disc" style="width:100%" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Disc</h5>
            <p class="card-text">You can add some text here</p> <a href="#" class="btn btn-primary">Any Link</a> </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
