<html>
<head>
    <meta charset="UTF-8">
    <title>Lightning Disc Golf Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {%extends 'base.html'%}
</head>
<body>
{%block content%}
<table>
    <thead>
        <tr>
            <th style="width:fit-content">ID</th>
            <th style="width:fit-content">Image</th>
            <th style="width:fit-content">Brand</th>
            <th style="width:fit-content">Item Name</th>
            <th style="width:fit-content">Disc Type</th>
            <th style="width:fit-content">Release Date</th>
            <th style="width:fit-content">Item Code</th>
            <th style="width:fit-content">Cost</th>
            <th style="width:fit-content">Update</th>
            <th style="width:fit-content">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr>
                <th>{{row.ItemID}}</th>
                <td> <img src="/static/product-images/{{ row.Image }} " alt="{{row.Name}}" width="100" height="100"></td>
                <td>{{ row.Brand }}</td>
                <td>{{ row.Name }}</td>
                <td>{{ row.DiscType }}</td>
                <td>{{ row.Release_Date}} </td>
                <td>{{ row.ItemCode }}</td>
                <td>{{ row.Cost }}</td>
                <td><a href="{{ url_for('updateItem',id=row.ItemID)}}"><button type="button">Update</button></a></td>
                <td><a href="{{ url_for('deleteItem',id=row.ItemID)}}"><button type="button">Delete</button></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
<style>
    table{
        background-color: white;
    }
    table td{
        padding: 0 20px;
    }
</style>
{%endblock%}
</html>