<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
            <nav class="topnav">
            <div>
                <a href="{{ url_for('Home') }}">Home</a>
                {% if 'loggedin' in session%}
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('userHome',user=session['user']) }}">Profile</a>
                {% else %}
                <a href="{{ url_for('userLogin') }}">Login/Register</a>
                {% endif %}
                <a href="{{ url_for('products') }}">All Products</a>
                <a href="{{ url_for('showCart') }}">View Cart</a>
                <a href="#about">About</a>
            </div>
            </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
