<!DOCTYPE html>
<html lang="en">

<head>
    <div class="body2">
    <meta charset="UTF-8">
    <title>Login</title>
    <div class="login">
            <h1>Login</h1>
            <div class="links">
                <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
                <a href="{{ url_for('Home') }}">Home</a>
                <a href="{{ url_for('userLogin') }}" class="active">Login</a>
                <a href="{{ url_for('userRegister') }}">Register</a>
            </div>
            <form action="{{ url_for('userLogin') }}" method="post">
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</head>

</html>
