<html>

<head>
    <meta charset="UTF-8">
    <title>Lightning Disc Golf Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topnav">
    <a href="{{ url_for('Home') }}">Home</a>
    <a href="{{ url_for('userHome',user=session['user']) }}">Profile</a>
    <a href="{{ url_for('showCart') }}">View Cart</a>
    <a href="#about">About</a>
    </div>
<table>
    <thead>
        <tr>
            <th style="width:fit-content">Order #</th>
            <th style="width:fit-content">Date Placed</th>
            <th style="width:fit-content">Total Cost</th>
            <th style="width:fit-content">Total Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
        <tr>
            <th>{{row.Order_ID}}</th>
            <td>{{ row.Order_Date }}</td>
            <td>{{ row.Order_Total}}</td>
            <td>{{row.Total_Quantity}}</td>
           <td><a href="{{ url_for('cancelOrder',id=row.Order_ID)}}"><button type="button">Cancel Order</button></a></td>
        </tr>
    {% endfor %}
</tbody>
</table>
<style>
    table{
        background-color: white;
    }
    table td{
        padding: 0 20px;
    }
</style>
</html>